@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');


/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

html {
    scroll-behavior: smooth;
 }
 
body {
    color: white;
    font-family: Raleway;
}


#navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.80);
    background-color: #753C5D;

}

header nav ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li{
    padding-right: 10px;
}

.dropbtn{
    background-color: #753C5D;
    color: white;
    border: none;
    text-align: center;
    padding-top: 15px;
    padding-right: 30px;
   
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    padding: 10px;
    display: none;
    position: absolute;
    width: fit-content;
    background-color: #753C5D;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {display: block;}

  #home {
    margin-top: 55px;
    background-image: url(./images/homepage.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    
}

#homediv {
    padding-top: 230px;
}

#hometext {
    font-size: 500%;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

#little_about {
    margin: auto;
    width: 70%;
}

#what_we_do {
    background-color: white;
    padding-bottom: 200px;
}

#what_we_do_h2 {
    color: black;
    padding-top: 200px;
    padding-left: 6%;
    font-size: 350%;
}

#flex1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    padding-top: 50px;
}

#what_we_do_p {
    color: black;
    text-align: right;
    margin: auto;
    width: 40%;
    font-size: 200%;
}

#picture1 {
    box-shadow:0 1px 5px rgb(0, 0, 0, 50%);
    width: 40%;

}

#what_we_do1 {
    background-color: #de7087;
    
}

.more_pics {
    text-align: center;
    font-size: 150%;
}

#more_pics {
    padding-top: 200px;
}


#center_pictures {
    margin: auto;
    width: 70%;
}

.pictures {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "space1 space2 space3"
        "space4 space4 space5"
        "space6 space7 space7"
        "space8 space9 space10"
        "space11 space12 space13";
    grid-row-gap: 200px;
    grid-column-gap: 50px;
    padding-top: 100px;
    padding-bottom: 400px;
    
}

.eee {
    width: 300px;
    height: 300px
}

.blur_pic {
    box-shadow:0 1px 5px rgb(0, 0, 0, .5);

}

.space_div {
    text-align: center;
    padding-top: 100px;
    font-size: 150%;
}

.space1 {
    grid-area: space1;
}

.space2 {
    grid-area: space2;
}

.space3 {
    grid-area: space3;
}

.space4 {
    grid-area: space4;
}

.space5 {
    grid-area: space5;
}

.space6 {
    grid-area: space6;
}

.space7 {
    grid-area: space7;
}

.space8 {
    grid-area: space8;
}

.space9 {
    grid-area: space9;
}

.space10 {
    grid-area: space10;
}

.space11 {
    grid-area: space11;
}

.space12 {
    grid-area: space12;
}

.space13 {
    grid-area: space13;
}

.space14 {
    grid-area: space14;
}

.space15 {
    grid-area: space15;
}

#contact {
    background-image: url(./images/contact_background.jpeg);
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
   
}

.contactinfo {
    position: absolute;
    z-index: 2;
    margin: auto;
    width: 100%;
    
    
}


#contact_us {
    padding-top: 230px;
    margin: auto;
    color: black;
    width: 60%;
    font-size: 250%;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

#contact_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    width: 75%;
    padding-top: 70px;
}
#contact_grid2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    margin:auto;
    width: 75%;
    padding-top: 70px;
}


.overlay {
    background: rgb(239, 171, 184);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.flex2 {
    display:flex;
    flex-direction: row;
    color: black;
    margin:auto;
    width: 75%;
}

.flex_p {
    align-self: center;
    padding-left: 20px;
    font-size: 185%;
}

.img {
    width: 80px;
    height: 60px;
    box-shadow:0 1px 5px rgb(0, 0, 0, .5);
}

#email {
    border-radius: 10px;
}

#phone {
    border-radius: 45%;
}

#copyright {
    padding-top: 10px;
}

footer {
    text-align: center;
    color: black;
    background-color: rgb(239, 171, 184);
    padding: 35px;
}


a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
   
    .flex_p {
        font-size: 150%;
    }
    
    .img {
        width: 70px;
        height: 50px;
        box-shadow:0 1px 5px rgb(0, 0, 0, .5);
    }
    
    
}
@media only screen and (max-width: 1120px) {
    .img2 {
        width: 200px;
        height: 200px
    }
    .space_div {
        font-size: 100%;
    }

    .pictures{
        width: 75%;
    }

}

@media only screen and (max-width: 1100px){}

@media only screen and (max-width: 1000px) {
    .flex_p {
        font-size: 120%;
    }
    
    .img {
        width: 60px;
        height: 40px;
        box-shadow:0 1px 5px rgb(0, 0, 0, .5);
    }
}
@media only screen and (max-width: 900px) {
    .img2 {
        width: 150px;
        height: 150px
    }
    .space_div {
        font-size: 100%;
    }

    .pictures{
        width: 60%;
    }
}

@media only screen and (max-width: 850px) {
    .img2 {
        width: 300px;
        height: 300px;
    }
    .pictures {
        display: grid;
        grid-template-areas:
            "space1 space2"
            "space3 space3"
            "space4 space5"
            "space6 space7"
            "space8 space8"
            "space9 space10"
            "space12 space12";
        grid-row-gap: 200px;
        grid-column-gap: 50px;
        padding-top: 100px;
        margin: auto;
        width: 80%;
        padding-bottom: 0px;
    }
    .space_div {
        text-align: center;
        padding-top: 70px;
        font-size: 150%;
    }

    .space12 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    
    .flex_p {
        font-size: 120%;
    }
    
    .img {
        width: 40px;
        height: 30px;
        box-shadow:0 1px 5px rgb(0, 0, 0, .5);
    }
    
    footer {
        padding: 18px;
    }
}

@media only screen and (max-width: 800px) {
    #what_we_do_h2 {
        font-size: 350%;
    }

    #what_we_do_p {
        font-size: 150%;
    }
    
    #picture1 {
        width: 40%;
    
    }
   
}

@media only screen and (min-width: 751px) {
    #contact_grid2 {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .img2{
        width: 250px;
        height: 250px;
    }

    .flex_p {
        font-size: 120%;
    }
    
    .img {
        width: 30px;
        height: 30px;
        box-shadow:0 1px 5px rgb(0, 0, 0, .5);
    }
    
    footer {
        padding: 18px;
        font-size: 90%;
    }

    #contact_grid2 {
        display: block;
        width: 60%;
    }
    #contact_grid {
        display: none;
    }
    
}

@media only screen and (max-width: 700px) {
    #what_we_do_h2 {
        font-size: 200%;
    }

    #what_we_do_p {
        font-size: 100%;
    }
    
    #picture1 {
        width: 40%;
    }
}

@media only screen and (max-width: 650px) {
    .img2{
        width: 200px;
        height: 200px;
    }

    .pictures{
        width: 78%;
    }
}


@media only screen and (max-width: 600px) {
    #hometext {
        font-size: 300%;
    }

    footer {
        font-size: 80%;
    }
}

@media only screen and (max-width: 550px) {
    .img2{
        width: 175px;
        height: 175px;
    }

    .pictures{
        width: 80%;
    }
    .more_pics {
        font-size: 130%;
    }

    #contact_grid2 {
        width:70%
    }
}


@media only screen and (max-width: 500px) {
    .img2 {
        width: 175px;
        height: 175px;
    }
    .pictures {
        display: grid;
        grid-template-areas:
            "space1 space2"
            "space3 space3"
            "space4 space5"
            "space6 space7"
            "space8 space8"
            "space9 space10"
            "space12 space12";
        grid-row-gap: 100px;
        grid-column-gap: 20px;
        padding-top: 100px;
        margin: auto;
        width: 75%;
        
    }
    .space_div {
        text-align: center;
        padding-top: 70px;
        font-size: 90%;
    }

    .space12 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}

@media only screen and (max-width: 450px) {
    .img2 {
        width: 150px;
        height: 150px;
    }
    .pictures {
        display: grid;
        grid-template-areas:
            "space1 space2"
            "space3 space3"
            "space4 space5"
            "space6 space7"
            "space8 space8"
            "space9 space10"
            "space12 space12";
        grid-row-gap: 100px;
        grid-column-gap: 20px;
        padding-top: 100px;
        margin: auto;
        width: 75%;
        
    }
 

    .space12 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #contact_grid2 {
        width: 85%;
    }

    .flex_p {
        font-size: 100%;
    }
    
    .img {
        width: 25px;
        height: 25px;
        box-shadow:0 1px 5px rgb(0, 0, 0, .5);
    }

    #contact_us {
        font-size: 200%;
    }

}

@media only screen and (max-width: 400px) {
    #what_we_do_h2 {
        font-size: 150%;
    }

    #what_we_do_p {
        font-size: 90%;
    }
    
    #picture1 {
        width: 40%;
}  
.img2 {
    width: 120px;
    height: 120px;
}
.pictures {
    display: grid;
    grid-template-areas:
        "space1 space2"
        "space3 space3"
        "space4 space5"
        "space6 space7"
        "space8 space8"
        "space9 space10"
        "space12 space12";
    grid-row-gap: 100px;
    grid-column-gap: 20px;
    padding-top: 100px;
    margin: auto;
    width: 70%;
    
}


.space12 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.space_div{
    font-size: 70%;
    padding-top: 40px;
}
.more_pics {
    font-size: 110%;
}
}

@media only screen and (max-width: 350px) {
    .img2 {
        width: 100px;
        height: 100px;
    }
    .pictures {
        display: grid;
        grid-template-areas:
            "space1 space2"
            "space3 space3"
            "space4 space5"
            "space6 space7"
            "space8 space8"
            "space9 space10"
            "space12 space12";
        grid-row-gap: 100px;
        grid-column-gap: 20px;
        padding-top: 100px;
        margin: auto;
        width: 65%;
        
    }
    
    
    .space12 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .space_div{
        font-size: 70%;
        padding-top: 40px;
    }
    .more_pics {
        font-size: 110%;
    }

    #contact_us {
        font-size: 180%;
    }
    
    .flex_p{
        font-size: 90%;
    }

    #contact_grid2{
        width: 90%;
    }

    footer {
        font-size: 70%;
    }


}

@media only screen and (min-width: 301px) {
    #navbar2{display: none;}
}
@media only screen and (max-width: 300px) {
    #ul {display: none;}
    #hometext {
        font-size: 200%;
    }
    #what_we_do_p {
        font-size: 70%;
    }
    .pictures {
        display: grid;
        grid-template-areas:
            "space1"
            "space2"
            "space3"
            "space5"
            "space6"
            "space7"
            "space9"
            "space10"
            "space12";
        grid-row-gap: 100px;
        padding-top: 100px;
        margin: auto;
        width: 65%;
        
    }

    .flex_p{
        font-size: 70%;
    }

    footer{
        font-size: 50%;
    }

    .img2{
        width: 150px;
        height: 150px;
    }
    
    .space4{
        display: none;
    }
    
    .space8{
        display: none;
    }

    .space11{
        display: none;
    }
    .space12 {
        width: 100%;
    }
    
    .space_div{
        font-size: 70%;
        padding-top: 40px;
    }
    .more_pics {
        font-size: 110%;
    }

    #flex1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        padding-top: 50px;
    }
    
    #what_we_do_p {
        color: black;
        text-align: center;
        font-size: 70%;
        padding-bottom: 30px;
    }
    
    #picture1 {
        box-shadow:0 1px 5px rgb(0, 0, 0, 50%);
        margin: auto;
        width: 80%;

    
    }
    
}
@media only screen and (max-width: 200px) {}

