@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


html {
    scroll-behavior: smooth;
 }

 body {
    color: white;
    font-family: Raleway !important;
}

nav {
    background-color: #753C5D;
    box-shadow: 0 2px 5px rgba(0,0,0,0.80);
}

#home {
    margin-top: 55px;
    background-image: url(./images/homepage.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

#home div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home h1{
    font-size: 8vw;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);

}

#what_we_do {
    padding-top: 20vh;
    padding-bottom: 25vh;
}

#what_we_do h2{
    font-size: 5vw;
}

#what_we_do .row{
    /* width: 90%; */
    margin: auto;
    padding-top: 50px;
}

#what_we_do img{
    box-shadow:0 1px 5px rgb(0, 0, 0, 50%);
    width: 100%;
}

#what_we_do p{
    text-align: right;
    margin: auto;
    font-size: 2.5vw;
}

#works{
    background-color: #de7087;
    padding-top: 30vh;
    padding-bottom: 20vh;
}

#works h2 {
    font-size: 5vw;
    color: white;
}

.col-12,
.col-sm-4 {
    height: 250px;
    overflow: hidden;
}

#works img {
    width: 100%;
    height: 100%;
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
}

#works img:hover {
    transform: scale(1.5);
}

#works .row {
    padding-bottom: 20px;
}

#contact {
    background-image: url(./images/contact_background.jpeg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.overlay {
    background: rgb(239, 171, 184);
    width: 100%;
    opacity: 0.8;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.text h2 {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    font-size: 8vw;
}

 ul {
    list-style-type: none;
}

ul li {
    padding-left: 40px;
}

footer{
    background-color: rgb(239, 171, 184);
}

a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

@media only screen and (max-width: 1400px){

}
@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 992px){
    
}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 576px){
    #home p{
        font-size: 3vw;
    }
    .col-12{
        padding-bottom: 20px;
    }

}
